node_modules
.vscode
.htaccess
package.json
package-lock.json
.well-known
murimg
expimg
proyectos
errdb
perimg
murimg
notimg
expimg
spkimg
pitchimg
vidimg
prensaimg
popimg
admimg
mapimg
qrimage
aventer
notas.txt
landing/landingimg

