.add_multi_speaker_role td{
	vertical-align: top;
}

.add_multi_speaker_role td .input{
	padding: 5px 0 !important;
}

.add_multi_speaker_role td .input input{
	width: 90% !important;
	padding: 5px !important;
}

#content fieldset.comboselect {
	box-shadow:none;
}

#content fieldset.comboselect fieldset{
	box-shadow:none;
}